.back-pastel-blue{
  background-color: #d3e3fb
}

.back-gray{
  background-color: #e0e3e5
}

.green{
  color:#2c9f42;
}

.blue{
  color:#2575ed;
}

.filter-container{
  padding: 20px 70px;
  background-color: #d3e3fb;
  border-radius: 8px;
}

.search-container{
  margin-top:50px;
  height:400px;
}

.search-container .search-title{
  margin:10px;
  text-align: center;
}

.search-form .btn{
  margin-top:10px;
}

.search-form select{
  width:100%;
}

#content{
  min-height:400px;
}

.results-container{
  margin-top:40px;
}

.results-container .injuries-list{
  height:400px;
  overflow-y: scroll;
}

.smaller{
  font-size:10pt;
}

.graph{
  width:100%;
  height:350px;
}
.graph-small{
  height:250px;
  width:90%;
  margin: 0 auto;
}

.results-container a.btn{
  margin-top:20px;
}

.results-container .results-section{
  margin: 10px 0 30px;
  border-bottom:1px solid #e2e2e2;
  padding:10px 0 30px;
}

.results-section .results-section-title{
  margin-bottom:20px;
}

.results-container .figure{
  text-align:center;
  margin-right:0;
  display:inline-block;
}

.results-container .figure small{
  font-weight:300;
  font-size:9pt;
  margin: 10px 20px;
}

.injury-table{
  font-weight:300;
  font-size:9pt;
}