{% extends "base.html" %}

{% block content %}


  <div class="units-container search-container">
    <div class="units-row">
      <div class="unit-80 unit-centered">
        <div class="search-title">
          <div class="lead">
            <h1>PICHR</h1>
            <h4 style="font-weight:300">Analysis of MLB Injuries and Recovery</h4>
          </div>
        </div>
    </div>
    <div class="units-row">
      <div class="unit-60 unit-centered">
        <div class="filter-container">
          <form action="/search/" method="post" class="forms search-form">
            {% csrf_token %}
            <div class="units-row">
              <div class="unit-40">
                <label>Injury Category</label>
                {{ form.injury_type }}
              </div>
            
              <div class="unit-60">
                <label>Affected Area </label>
                {{ form.location }}
              </div>
            </div>
            <div class="units-row">
              <div class="unit-100 unit-centered">
                <div style="text-align:center"><h6>Or</h6></div>
                <label>Search By Injury</label>
                {{ form.injury }}
              </div>
            </div>
            <div class="unit-40 unit-centered">
              <button class="btn btn-blue width-100">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}



{% block javascript %}
{% endblock %}